* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
}
#root {
  height: 100%;
}

.nav-main {
  background-color: gold;
  display: flex; 
  height: 10%;
}


.nav-main > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-main > div:hover {
  background-color: crimson;
  color: white;
} 
